<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<script type="text/x-template" id="modal-template">
		<div class="modal-mask">
	      <div class="modal-wrapper">
	        <div class="modal-container">

	        	<div class="modal-header">
	            	<h1>{{ programsData[selected].name }}</h1>
	        	</div>

	        	<div class="modal-body">
	        		<table class="cell">
	        		<tr>
	        			<td>Категория</td>  <td>Тип</td>  <td>Скидка</td>  <td>Кол-во</td>  <td></td>
	        		</tr>
	        		<tr>
		            	<td><select class="list" v-model="ticketCategory">
							<option v-for = "(value, key) in programPrices" :value = "key"> {{ key }} </option>
						</select></td>
						
						<td><select class="list" v-model="ticketType" :disabled="ticketCategory==null">
							<option v-for = "(value, key) in programPrices[ticketCategory]" :value = "key"> {{ key }} </option>
						</select></td>

						<td><select class="list" v-model="ticketDiscount" :disabled="ticketType==null">
							<option v-for = "(value, key) in selectedCategory[ticketType]" :value = "key"> {{ key }} </option>
						</select></td>

						<td><button id="min-width" @click="ticketCount-=1" :disabled="ticketCount===0"> - </button>
						<input type='text' id="min-width" disabled='true' :value="ticketCount"> </input>
						<button id="min-width" @click="ticketCount+=1"> + </button></td>

						<td><button :disabled="ticketCount==0 || ticketDiscount==null" @click="addToBasket">Добавить</button></td>
					</tr>
					</table>
					<br><hr>

					<div id="ticket-props" v-if="basket.length!==0">
						<table>
						<caption>В корзине билеты на рейс {{programsData[selected].name }}</caption> <br>
						<tr v-for="(count, index) in basket">
							<td width="90%">
								Категория: {{basket[index].category}} Тип: {{basket[index].type}} Скидка: {{basket[index].discount}} 
								Цена: {{basket[index].price}} Кол-во: {{basket[index].count}} Стоимость: {{basket[index].summ}}
							</td>
							<td width="10%">
								<button id="min-width" @click="basket.splice(index, 1)">[x]</button>
							</td>
						</tr>
					</table>
					</div>
	        	</div>

	        	<div class="modal-footer">
	            	<button class="button" @click="$emit('close')"> Отмена </button>
	            	<button class="button" @click="applyBasket" :disabled="basket.length===0"> Оплатить </button>
	        	</div>
	        </div>
	      </div>
	    </div>
	</script>
	<h1>Выбор рейса</h1>
	<div id='app'>
		<select  v-model="selected" width="200">
			<option v-for = "(name,index) in programsData" :value = "index">{{ programsData[index].name }}</option>
		</select>
		<button id="show-modal" @click="initModal()" :disabled="selected==null">Купить билет</button>
		<br>
		<p v-if="selected !== null">
			 Дата: {{ cruisesData[selected].date }} <br>
			 Время: {{ cruisesData[selected].time }} <br>
			 Мест: {{ cruisesData[selected].total_seats }} Свободно: {{ cruisesData[selected].available_seats }}
		</p>

  		<modal
  			v-if="showModal"
  			@close="exitModal()"
  			v-bind:programs-data="programsData"
  			v-bind:cruises-data="cruisesData"
  			v-bind:json-output="jsonOutput"
  			v-bind:program-prices="programPrices"
  			v-bind:selected="selected"
		></modal>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>