<template>
  <div id="app">
    <select v-model="selected">
		  <option v-for = "(name,index) in programsData" :key="index" :value="index">{{ programsData[index].name }}</option>
		</select>
		<button id="show-modal" @click="initBasket()" :disabled="selected==null">Купить билет</button>
		<br>

		<p v-if="selected!==null">
			 Дата: {{ cruisesData[selected].date }} <br>
			 Время: {{ cruisesData[selected].time }} <br>
			 Мест: {{ cruisesData[selected].total_seats }} Свободно: {{ cruisesData[selected].available_seats }}
		</p>

    <basket v-if="showBasket" @close="exitBasket()"
          v-bind:programs-data="programsData"
  	      v-bind:cruises-data="cruisesData"
	        v-bind:json-output="jsonOutput"
	        v-bind:program-prices="programPrices"
	        v-bind:selected="selected">
    </basket>
  </div>
</template>

<script>
import Basket from "./Basket.vue";

export default {
  data () {
    return {
      cruisesData: [
        {
          id: 1, 
          date: "20-09-2018", 
          time: "14:40", 
          program_id: 1, 
          total_seats: 100, 
          available_seats: 30
        }, 
        {
          id: 2, 
          date: "21-09-2018", 
          time: "15:50", 
          program_id: 2, 
          total_seats: 100, 
          available_seats: 45
        }],
      programsData: [
        {
          id: 1, 
          name: "Северная венеция",  
          prices: {
            Deck: {
              Adult: {Free: 0, Half: 50, Full: 50, Corp: 100}, 
              Kid: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Benefit: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Special: {Free: 0, Half: 50, Full: 50, Corp: 100}
            },
            Bow: {
              Adult: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Kid: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Benefit: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Special: {Free: 0, Half: 50, Full: 50, Corp: 100}
            }
          }
        }, 
        {
          id: 2, 
          name: "Восточная венеция",
          prices: {
            Deck: {
              Adult: {Free: 0, Half: 50, Full: 50, Corp: 100}, 
              Kid: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Benefit: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Special: {Free: 0, Half: 50, Full: 50, Corp: 100}
            },
            Bow: {
              Adult: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Kid: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Benefit: {Free: 0, Half: 50, Full: 50, Corp: 100},
              Special: {Free: 0, Half: 50, Full: 50, Corp: 100}
            }
          }
        }],
      jsonOutput: null,
      programPrices: null,
      selected: null,
      showBasket: false
    }
  },
  methods:{
		initBasket(){
			this.programPrices = this.programsData[this.selected].prices;
			this.showBasket = true;
		},
		exitBasket(){
			this.showBasket = false;
			this.ticketCategory = null;
			this.ticketType = null;
			this.ticketDiscount = null;
			this.basket = []
		}
  },
  components: {
      "basket": Basket
    }
}
</script>

<style>
#app{
  width: 250px;
  height: 90px;
  padding: 5px;
  border: 3px double rgb(71, 71, 136);
}
</style>
