<template>
<modal-basket v-bind:align-set="alignBasket" v-bind:style-set="styleBasket">
    <div slot="header">
        <h1>{{ programsData[selected].name }}</h1>
    </div>
    <div slot="body">
        <table class="cell">
            <tr>
                <td>Категория</td>  <td>Тип</td>  <td>Скидка</td>  <td>Кол-во</td>  <td></td>
            </tr>
            <tr>
                <td><select class="list" v-model="ticketCategory">
                    <option v-for = "(value, key) in programPrices" :key="key" :value="key"> {{ key }} </option>
                </select></td>
                    
                <td><select class="list" v-model="ticketType" :disabled="ticketCategory==null">
                    <option v-for = "(value, key) in programPrices[ticketCategory]" :key="key" :value="key"> {{ key }} </option>
                </select></td>

                <td><select class="list" v-model="ticketDiscount" :disabled="ticketType==null">
                    <option v-for = "(value, key) in selectedCategory[ticketType]" :key="key" :value="key"> {{ key }} </option>
                </select></td>

                <td><button id="min-width" @click="ticketCount-=1" :disabled="ticketCount===0"> - </button>
                <input type='text' id="min-width" disabled='true' :value="ticketCount">
                <button id="min-width" @click="ticketCount+=1"> + </button></td>

                <td><button :disabled="ticketCount==0 || ticketDiscount==null" @click="addToBasket">Добавить</button></td>
            </tr>
        </table>
        <br><hr>

        <div id="ticket-props" v-if="basket.length!==0">
        <table>
            <caption>В корзине билеты на рейс {{programsData[selected].name }}</caption> <br>
            <tr v-for="(count, index) in basket" :key="count">
                <td width="90%">
                    Категория:&nbsp;{{basket[index].category}}    Тип:&nbsp;{{basket[index].type}}    Скидка:&nbsp;{{basket[index].discount}} 
                    Цена:&nbsp;{{basket[index].price}}   Кол&#8209;во:&nbsp;{{basket[index].count}}    Стоимость:&nbsp;{{basket[index].summ}}
                </td>
                <td width="10%">
                    <button id="min-width" @click="basket.splice(index, 1)">[x]</button>
                </td>
            </tr>
        </table>
        </div>
    </div> 
    <div slot="footer">
        <button class="button" @click="$emit('close')"> Отмена </button>
        <button class="button" @click="applyBasket" :disabled="basket.length===0"> Оплатить </button>
    </div>  

<!--    <confirm v-if="showConfirm"  :msg="confirmMsg"
        @ok="applyBasket" @cancel="showConfirm=false">
    </confirm>   -->    
</modal-basket>
</template>

<script>
import Modal from "./Modal.vue";
//import Confirm from "./Confirm.vue";

export default {
	props: ['programsData', 'cruisesData', 'jsonOutput', 'programPrices', 'selected'], 
    data () {
        return {
            alignBasket:{
                verticalAlign: 'top',
                horizontalAlign: 'left'
            },
            styleBasket:{
                width: '450px',
                height: 'auto',
                border: '5px solid teal',
                bordeRadius: '15px',
                margin: '150px 350px'
            },
            //showConfirm: false,
            //confirmMsg: '',
            ticketCategory: null,
			ticketType: null,
			ticketDiscount: null,
			ticketCount: 1,
			basket:[]
        }
    },
    computed: {
		selectedCategory: function(){
			if (this.ticketCategory !== null) return( this.programPrices[this.ticketCategory] )
			else return( this.programPrices )
		},

		ticketPrice: function(){
			if (this.ticketDiscount !== null) return( this.selectedCategory[this.ticketType][this.ticketDiscount] )
			else return( 0 )
		},

		ticketSumm: function(){
			return( this.ticketPrice * this.ticketCount )
		}
	},

	methods: {
		addToBasket: function(){
			let chkCount =0;
			for(let i in this.basket){
				chkCount += this.basket[i].count;
			}
			if(chkCount + this.ticketCount <= this.cruisesData[this.selected].available_seats){
				const basketItem = {
					programId: this.programsData[this.selected].id,
					category: this.ticketCategory,
					type: this.ticketType,
					discount: this.ticketDiscount,
					price: this.ticketPrice,
					count: this.ticketCount,
					summ: this.ticketSumm
				}
				this.basket.push(basketItem);
			}
			else{
				let availableSeats = this.cruisesData[this.selected].available_seats - chkCount;
				alert('Осталось мест: ' + availableSeats);
            }
            console.log(chkCount)
		},

		applyBasket: function(){
			let totalSumm = 0;
			for(let i in this.basket){
				totalSumm += this.basket[i].summ;
            }
            
        //    this.confirmMsg
        let ok = confirm('В корзине билеты на сумму: ' + totalSumm + 'руб. Оплатить?');
        //    this.showConfirm = true;
        if(ok){
			this.jsonOutput = JSON.stringify(this.basket);
            alert(this.jsonOutput);
        }
		}
    },

    components: {
        "modal-basket": Modal//,
      //  "confirm": Confirm
    }
}
</script>

<style>
.button {
    float: right;
}
.cell {
    width: 100%;
    table-layout: fixed;
}
.cell td {
    width: 100%;
}

.list {
    width: 100%;
}
#min-width {
    width: 22px;
    height: 22px;
    text-align: center;
    padding: 1px 2px;
}
#ticket-props {
    color: gray;
    font-size: 85%;
    font-family: Arial;
}

</style>