<template>
    <modal-confirm :position-set="positionConfirm" :style-set="styleConfirm">
        <div slot="header">
            <h3>В корзине билеты на сумму: {{ msg }} руб. Оплатить?</h3>
        </div>

        <div slot="body">
            <button @click="$emit('ok')">OK</button>
            <button @click="$emit('cancel')">Cancel</button>
        </div>
    </modal-confirm>
</template>

<script>
import Modal from "./Modal.vue";

export default {
	props: ['msg'], 
    data () {
        return {
            styleConfirm:{
                width: '350px',
                height: '150px',
                border: '5px solid navy',
                bordeRadius: '25px',
                zIndex: '5100'
               },
            positionConfirm:{
                zIndex: '5100'
            }
        }
    },
    components:{
        "modal-confirm": Modal
    }     
}
</script>

<style>
button {
    align-self: center;
}
</style>