<template>
    <div class="modal-mask" v-bind:style="positionSet">
    <div class="modal-wrapper" v-bind:style="alignSet">
        <div class="modal-container" v-bind:style="styleSet">
            <div class="modal-header">
                <slot name="header">
                default header
                </slot>
            </div>

            <div class="modal-body">
                <slot name="body">
                default body
                </slot>
            </div>

            <div class="modal-footer">
                <slot name="footer">
                default footer
                </slot>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default{
    props:['positionSet','alignSet','styleSet']
}
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 5000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        margin: 0px auto;
        padding: 20px 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #1b4469;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-footer {
        padding: 10px 0px;
    }
</style>